/* @override http://hanspinckaers.com/mb/example/css/mb.css */

body 
{
	padding : 10px;
	margin :0px;
	font : 12px/18px "Lucida Grande", Lucida, Verdana, sans-serif;	
}

h1{
	margin: 0;
}

p
{
	margin-bottom : 12px;
}

#example {
	width  : 680px;
	padding : 20px;	
	background: #CCEAEC;
	position: relative;
}

a
{
	text-decoration : none;
	color : #585DED;
	font-weight : bold;
}
canvas{
	margin: 0px;
	padding: 0px;	
}
a:hover
{
	text-decoration : underline;
}
pre {margin:1.5em 0;white-space:pre;}
pre, code, tt {font:1em 'andale mono', 'lucida console', monospace;line-height:1.5;}

