body 
{
	padding : 10px;
	margin :0px;
	font : 12px/18px "Lucida Grande", Lucida, Verdana, sans-serif;
}

p
{
	margin-bottom : 12px;
}

#example {
	position : relative;
	margin : 0 auto;
	width  : 500px;
	padding : 20px;	
	background: #CCEAEC;
}

a
{
	text-decoration : none;
	color : #585DED;
	font-weight : bold;
}

a:hover
{
	text-decoration : underline;
}